bin/
obj/
.vs/
*.user
*.suo
*.DotSettings.user
packages/
TestResults/
*.nupkg
*.zip
*.jar
.build-staging/
!/Build Output/
!/Build Output/ReSharperMcp.zip
.env
rider-plugin/.gradle/
rider-plugin/.intellijPlatform/
rider-plugin/build/
!rider-plugin/gradle/wrapper/gradle-wrapper.jar
JetBrains.*.resources
JetBrains.*.html
JetBrains.*.svg
JetBrains.*.blacklist
JetBrains.*.crt
JetBrains.*.pem
JetBrains.*.csexp
JetBrains.*.consentOptions
/.idea/
